body {
  margin: 0px
}

.divs {
  display: flex;
}

.inputs {
  /* display: flex; */
  /* margin: auto; */
  font-size: 300%;
  font-family: "MochiyPopOne-Regular";
  text-align: center;
  background-color: rgb(6, 82, 149);
  color: white;
}

.buttons {
  margin: auto;
  background-color: rgb(6, 82, 149);
  color: white;
  font-size: 120%;
  font-family: "MochiyPopOne-Regular";
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons:hover {
  background-color: white;
  color: rgb(6, 82, 149);
}
